# dependencies
/node_modules
/.pnp
.pnp.js

# firebase
src/api/firebase-config.js

# testing
/coverage

# production
/build

# firebase
*.cache
.firebaserc

# misc
.DS_Store
.env.development
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
